*{
    margin: 0;
    padding: 0;
}
.gameContainer{
    width:100vw;
    height:100vh;
    background-color: rgb(105, 152, 227);
}
.score{
    position: absolute;
    justify-content: center;
    top: 0px;
    right: 40px;
    height: 40px;
    width: 200px;
    margin: 0px 0px;
    background-color: rgb(105, 152, 227);
}
.gameOver{
    position: absolute;
    justify-content: center;
    top: 0px;
    right: 150px;
    height: 40px;
    width: 300px;
    margin: 0px 200px;
    background-color:rgb(105, 152, 227) ;
    color: rgb(201, 241, 242);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    display: inline-block;
    background-image: linear-gradient(to right,rgb(99, 183, 244),rgb(114, 161, 187),rgb(112, 134, 217));
    background-clip: text;
     z-index: 100;
}


.game{
    position: absolute;
    justify-content: center;
    top: 0px;
    height: 40px;
    width: 350px;
    margin: 0px 100px;
    background-color: rgb(105, 152, 227);
   color: rgb(204, 239, 242);
}
p{
    font-size:35px;
    font-weight: 900;

    display: inline-block;
    background-image: linear-gradient(to right,rgb(99, 183, 244),rgb(1, 205, 185),rgb(40, 110, 167));
    background-clip: text;
     
}

.eagle{
    background-image: url(eagle.jpg);
    /* border: 2px solid black; */
    border-radius: 80%;
    background-size: cover;
    position: absolute;
    width: 170px;
    height: 105px;
    top: 50px;
    left: 100px;
    /* z-index:100; */
}
/* First cloud */
.cloud{
    background-image: url(cloud.jpg);
    /* border: 2px solid black; */
    
    background-size: cover;
    position: absolute;
    border-radius: 50%;
    width: 180px;
    height: 100px;
    top: 55px;
    right: 100px;
}
.aniCloud{
    animation: cld 6s linear 0s infinite;
}
@keyframes cld {
    0%{
        left:1100px;
    }
    100%{
        left: -120px;
    }
}
.score{
    color: rgb(5, 31, 92);
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    
}
/* Third cloud */
.cloud2{
    background-image: url(cloud.jpg);
    /* border: 2px solid black; */
    border-radius: 90%;
    background-size: cover;
    position: absolute;
    width: 180px;
    height: 100px;
    top: 400px;
    right: 100px;
}
.aniCloud2{
    animation: cld2 7s linear 0s infinite;
}
@keyframes cld2 {
    0%{
        left:1100px;
    }
    100%{
        left: -120px;
    }
}
/* Middle cloud */
.cloud3{
    background-image: url(cloud.jpg);
    /* border: 2px solid black; */
    
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    width: 180px;
    height: 100px;
    top: 200px;
    right: 100px;
}
.aniCloud3{
    animation: cld3 9s linear 0s infinite;
}
@keyframes cld3 {
    0%{
        left:1100px;
    }
    100%{
        left: -120px;
    }
}